name: pre-commit

on:
  pull_request:
  push:

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v3
    - run: pip3 install -U pip setuptools
    - run: pip3 install -U -r requirements.txt
    - run: pylint --rcfile=.pylintrc src/
    - uses: pre-commit/action@v3.0.0
